.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.section-title h2 {
    font-size: 2em;
    color: #464646;
}

.link-todo {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 700;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.card {
    border-radius: 4px;
    padding: 0.2em;
    box-shadow: 6px 4px 18px -5px rgba(0, 0, 0, 0.76);
}

.card-img{
    border-radius: 2px 2px 1px 1px;
}

.card-name {
    font-size: 14px;
}

.price {
    font-weight: 700;
    color: #464646;
    line-height: 2em;
}

.link-card {
    text-decoration: none;
    font-weight: 700;
    color: #2A7AE4;
}