/* imports */
@import './navbarStyles.css';
@import './cardSectionStyles.css';
@import './footerStyles.css';
@import './loginStyles.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}